
@keyframes progress{
    100%{
        width:0%;
    }
}

body{
    display:flex;
    align-items:center;
    justify-content:center;
    min-height:100vh;
    background:var(--dark);
}

.notifications{
    position:fixed;
    top:30px;
    right:20px;
} 

.notifications :where(.toast, column){
    display:flex;
    align-items: center;
}

.buttons .btn{
    border:none;
    outline:none;
    cursor:pointer;
    color:#fff;
    padding:10px 20px;
    border-radius:4px;

    font-size:1.2rem;
    margin:0 5px;
}